In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Manaure,CO,2021-12-21 04:45:23,11.7751,-72.4445,77.05,77,60,7.27
1,1,Sawakin,SD,2021-12-21 04:45:24,19.1059,37.3321,73.17,59,100,12.73
2,2,Bridlington,GB,2021-12-21 04:45:24,54.0831,-0.1919,40.89,62,99,1.72
3,3,Port Elizabeth,ZA,2021-12-21 04:42:11,-33.9180,25.5701,70.11,100,75,13.80
4,4,Fernie,CA,2021-12-21 04:45:25,49.5000,-115.0687,23.09,99,98,1.81

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Manaure,CO,2021-12-21 04:45:23,11.7751,-72.4445,77.05,77,60,7.27
10,10,Rikitea,PF,2021-12-21 04:45:28,-23.1203,-134.9692,77.09,81,100,14.43
16,16,Gondanglegi,ID,2021-12-21 04:45:30,-7.7479,112.0132,81.01,83,100,6.69
19,19,Kapaa,US,2021-12-21 04:45:32,22.0752,-159.3190,78.78,81,75,4.00
23,23,Bubaque,GW,2021-12-21 04:45:35,11.2833,-15.8333,79.66,60,77,15.26
25,25,Bima,ID,2021-12-21 04:45:36,-8.4667,118.7167,84.27,78,100,7.94
40,40,Bathsheba,BB,2021-12-21 04:45:43,13.2167,-59.5167,79.41,83,75,13.80
42,42,Atuona,PF,2021-12-21 04:45:44,-9.8000,-139.0333,78.19,74,11,10.29
43,43,Tautira,PF,2021-12-21 04:45:44,-17.7333,-149.1500,82.42,70,49,7.05
50,50,Harper,LR,2021-12-21 04:46:48,4.3750,-7.7169,78.13,83,26,3.47

In [17]:
preferred_cities_df.count()

City_ID       131
City          131
Country       131
Date          131
Lat           131
Lng           131
Max Temp      131
Humidity      131
Cloudiness    131
Wind Speed    131
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0       Manaure      CO     77.05  11.7751  -72.4445
10      Rikitea      PF     77.09 -23.1203 -134.9692
16  Gondanglegi      ID     81.01  -7.7479  112.0132
19        Kapaa      US     78.78  22.0752 -159.3190
23      Bubaque      GW     79.66  11.2833  -15.8333
25         Bima      ID     84.27  -8.4667  118.7167
40    Bathsheba      BB     79.41  13.2167  -59.5167
42       Atuona      PF     78.19  -9.8000 -139.0333
43      Tautira      PF     82.42 -17.7333 -149.1500
50       Harper      LR     78.13   4.3750   -7.7169

In [21]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0       Manaure      CO     77.05  11.7751  -72.4445
10      Rikitea      PF     77.09 -23.1203 -134.9692
16  Gondanglegi      ID     81.01  -7.7479  112.0132
19        Kapaa      US     78.78  22.0752 -159.3190
23      Bubaque      GW     79.66  11.2833  -15.8333
25         Bima      ID     84.27  -8.4667  118.7167
40    Bathsheba      BB     79.41  13.2167  -59.5167
42       Atuona      PF     78.19  -9.8000 -139.0333
43      Tautira      PF     82.42 -17.7333 -149.1500
50       Harper      LR     78.13   4.3750   -7.7169

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [ ]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig