## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Severo-Kurilsk,RU,50.6789,156.1250,28.76,70,90,26.51,overcast clouds
1,1,Vanimo,PG,-2.6741,141.3028,76.95,92,100,9.75,overcast clouds
2,2,Harper,LR,4.3750,-7.7169,79.95,80,48,4.43,scattered clouds
3,3,Iqaluit,CA,63.7506,-68.5145,-9.56,97,46,3.38,scattered clouds
4,4,Ostrovnoy,RU,68.0531,39.5131,16.75,94,100,5.44,light snow

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Vanimo,PG,-2.6741,141.3028,76.95,92,100,9.75,overcast clouds
2,2,Harper,LR,4.3750,-7.7169,79.95,80,48,4.43,scattered clouds
6,6,Kapaa,US,22.0752,-159.3190,78.78,73,90,4.00,light rain
7,7,Rikitea,PF,-23.1203,-134.9692,77.68,73,100,7.18,overcast clouds
9,9,Busselton,AU,-33.6500,115.3333,83.05,41,54,3.53,broken clouds
14,14,Hobart,AU,-42.8794,147.3294,75.02,43,75,1.99,broken clouds
21,21,Kudahuvadhoo,MV,2.6708,72.8944,82.09,70,82,9.28,broken clouds
29,29,Bambous Virieux,MU,-20.3428,57.7575,78.22,94,75,8.05,broken clouds
30,30,Sabang,ID,5.8933,95.3214,80.24,67,99,6.33,overcast clouds
33,33,Tamandare,BR,-8.7597,-35.1047,78.37,84,80,7.31,broken clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Vanimo,PG,-2.6741,141.3028,76.95,92,100,9.75,overcast clouds
2,2,Harper,LR,4.3750,-7.7169,79.95,80,48,4.43,scattered clouds
6,6,Kapaa,US,22.0752,-159.3190,78.78,73,90,4.00,light rain
7,7,Rikitea,PF,-23.1203,-134.9692,77.68,73,100,7.18,overcast clouds
9,9,Busselton,AU,-33.6500,115.3333,83.05,41,54,3.53,broken clouds
14,14,Hobart,AU,-42.8794,147.3294,75.02,43,75,1.99,broken clouds
21,21,Kudahuvadhoo,MV,2.6708,72.8944,82.09,70,82,9.28,broken clouds
29,29,Bambous Virieux,MU,-20.3428,57.7575,78.22,94,75,8.05,broken clouds
30,30,Sabang,ID,5.8933,95.3214,80.24,67,99,6.33,overcast clouds
33,33,Tamandare,BR,-8.7597,-35.1047,78.37,84,80,7.31,broken clouds

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vanimo,PG,76.95,overcast clouds,-2.6741,141.3028,
2,Harper,LR,79.95,scattered clouds,4.3750,-7.7169,
6,Kapaa,US,78.78,light rain,22.0752,-159.3190,
7,Rikitea,PF,77.68,overcast clouds,-23.1203,-134.9692,
9,Busselton,AU,83.05,broken clouds,-33.6500,115.3333,
14,Hobart,AU,75.02,broken clouds,-42.8794,147.3294,
21,Kudahuvadhoo,MV,82.09,broken clouds,2.6708,72.8944,
29,Bambous Virieux,MU,78.22,broken clouds,-20.3428,57.7575,
30,Sabang,ID,80.24,overcast clouds,5.8933,95.3214,
33,Tamandare,BR,78.37,broken clouds,-8.7597,-35.1047,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.count()

City                   234
Country                234
Max Temp               234
Current Description    234
Lat                    234
Lng                    234
Hotel Name             234
dtype: int64

In [26]:
# 7. Drop the rows where there is no Hotel Name.
filter = hotel_df["Hotel Name"] != ""
clean_hotel_df = hotel_df[filter]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vanimo,PG,76.95,overcast clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
2,Harper,LR,79.95,scattered clouds,4.3750,-7.7169,Screensaver
6,Kapaa,US,78.78,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,Rikitea,PF,77.68,overcast clouds,-23.1203,-134.9692,People ThankYou
9,Busselton,AU,83.05,broken clouds,-33.6500,115.3333,Observatory Guest House
14,Hobart,AU,75.02,broken clouds,-42.8794,147.3294,Mantra on Collins Hobart
21,Kudahuvadhoo,MV,82.09,broken clouds,2.6708,72.8944,Niyama Private Islands Maldives
29,Bambous Virieux,MU,78.22,broken clouds,-20.3428,57.7575,Casa Tia Villa
30,Sabang,ID,80.24,overcast clouds,5.8933,95.3214,Hotel Citra
33,Tamandare,BR,78.37,broken clouds,-8.7597,-35.1047,Pousada 100 Passos

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))